<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jain.pranjal.mydiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mydiary"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mydiary"
        android:supportsRtl="true"
        android:theme="@style/MyStyle">
        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ProfileAddPage" android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".AddDiaryEntry" android:screenOrientation="portrait"></activity>
        <activity android:name=".DiaryEntryList"
            android:theme="@style/AppTheme"
                  android:screenOrientation="portrait"></activity>
        <activity android:name=".UpdateActivity" android:screenOrientation="portrait">r</activity>
    </application>

</manifest>